body{
	background-color: #C0C0C0;
}
.jumbotron{
	text-align: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 2%;
    padding-right: 2%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.navbar{
	background-image: url("/content/bkg1.jpg");
}
#linkcolor{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.nav.navbar-nav li a {
     color: #000000 !important; 
 }
 .navbar-brand { 
 	color: black !important 
 }
.navbar-brand:visited { 
	color: black !important 
}
.navbar-default-color { 
	color: black !important 
}
.navbar-inverse { 
	color : #FFFFFF !important 
}