@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NoseyPants Realty</h1>
    <p class="lead">Property management group since 1912.</p>
    
</div>

<div class="row">
    <div>
        <img src="~/Content/apt.jpg" class="centerImage">
        <h1>We offer high quality community living that fit all your needs.</h1>
    </div>        
</div>