@model RentalManagement.Models.MaintainenceRequest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <br /><br /><br /><br /><br /><br />
<h2>Create</h2>
@using (Html.BeginForm("Create", "MaintainenceRequests"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <h5>Hello, please enter your maintenance request</h5>
        
        @Html.TextAreaFor(model => model.Request, 5, 120, null)
        <br /><br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>


}

</body>

